@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.container{
    background-color: hsl(30, 38%, 92%);
    height: 399px;
    width: 700px;
    border-radius: 1em;
}
.card_box{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%) ;
    border-radius: 1.5em;
}
.img_det{
    border-radius: 1em 0 0 1em;
}
.prod_text{
    text-align: left;
    margin:1.5em 2em;
}
.product{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color:hsl(228, 12%, 48%);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 500;
}
.product_det{
    font-family: "Fraunces", serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1;
    margin: 0.6em 0 0.7em 0;
}
.desc{
    font-family: "Montserrat",sans-serif;
    width: 95%;
    font-weight: 500;
    margin-bottom: 1.5em;
}
.green_text{
    margin-right: 0.3em;
    color: darkgreen;
}
.strike{
    text-decoration: line-through;
    align-self: center;
}

.btn{
    display: block;
    margin: 2em 0 1em 0;
    background-color: darkgreen;
    width: 100%;
    padding: 1em 0;
    color: hsl(0, 0%, 100%);
    border: 0;
    border-radius: 0.7em;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    background-color: hsl(156, 24%, 24%);
}
.btn_img{
    margin-right: 1em;
    max-width: 100%;
}
btn_text{
    color:hsl(0, 0%, 100%);
}